<div *ngIf="!productId;then addform;else updateform"></div>
<ng-template #addform>

    <div class="container m-2 p-5" style="width: 50vh;background-color: white;border: 1px solid black;">

        <form class="form" [formGroup]="addproductform" (ngSubmit)="addProduct()">
            <div class="field">

                <input type="text" class="form-input-field" placeholder="Product Name" formControlName="productName"
                    value="">
            </div>
            <div class="field">

                <input type="text" class="form-input-field" placeholder="Description" formControlName="description">
            </div>
            <div class="field">

                <input type="text" class="form-input-field" placeholder="brand" formControlName="brand">
            </div>
            <div class="field">

                <input type="text" class="form-input-field" placeholder="code" formControlName="code">
            </div>
            <div class="field">

                <input type="text"  class="form-input-field" placeholder="image" formControlName="image">
            </div>
            <div class="field">

                <input type="number" class="form-input-field" placeholder="price" formControlName="price">
            </div>
            <div class="d-flex justify-content-between p-4 m-2">

                <button class="btn btn-primary" type="submit">submit</button>
                <button class="btn btn-danger" (click)="closeModal()">Cancel</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #updateform>

    <div class="container m-2 p-5" style="width: 50vh;background-color: white;border: 1px solid black;">
        <h4>Product Id : {{productId}}</h4>
        <form class="form" [formGroup]="updateProductform" (ngSubmit)="updateProduct()">
            <div class="field">

                <input type="text" class="form-input-field" placeholder={{productId}} formControlName="productId"  value={{productId}}>
            </div>
            <div class="field">

                <input type="text" class="form-input-field" placeholder="Product Name" formControlName="productName"
                    value="">
            </div>
            <div class="field">

                <input type="text" class="form-input-field" placeholder="Description" formControlName="description">
            </div>
            <div class="field">

                <input type="text" class="form-input-field" placeholder="brand" formControlName="brand">
            </div>
            <div class="field">

                <input type="text" class="form-input-field" placeholder="code" formControlName="code">
            </div>
            <div class="field">

                <input type="text" class="form-input-field" placeholder="image" formControlName="image">
            </div>
            <div class="field">

                <input type="text" class="form-input-field" placeholder="price" formControlName="price">
            </div>
            <div class="d-flex justify-content-between p-4 m-2">

                <button class="btn btn-primary" type="submit">submit</button>
                <button class="btn btn-danger" (click)="closeModal()">Cancel</button>
            </div>
        </form>
    </div>
</ng-template>